@import "tailwindcss";

body {
  user-select: none;
  -webkit-user-select: none;
  overscroll-behavior-y: none;
}

.safe-layout {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
